<h1>Order Summary</h1>


<div>
  <%= @address.full_address %>
</div>
--------------------------
<div>
  <% @line_items.each_with_index do |line_item, index| %>
    <%= "#{index + 1}.) #{line_item.item.description}(#{line_item.quantity}): $#{line_item.item.price}" %></br>
  <% end %>
</div>
<br><%= "Total: $#{@shopping_cart.total_cost} + tax" %>


<%= form_with model: @order, method: :post do |form| %>
  <div class="mb-3">
    <%= form.button "Checkout", class: "btn btn-primary", data: { disable_with: "Please wait..." } %>
  </div>
  <% end %>