<h1>Orders#new</h1>
<p>shipping_info</p>

<%= form_with model: @address, url: add_shipping_info_path do |form| %>
  <%= render partial: "address_form", locals: {form: form} %>
  <div class="field">
      <%= form.check_box(:address_types_not_equal, {checked: false}) %>
      <%= label_tag(:address_types_not_equal, "Check the box if your billing address is different.") %>
  </div>
  <div class="mb-3">
      <%= form.submit "Continue", class: "btn btn-primary", data: { disable_with: "Please wait..." } %>
  </div>
<% end %>


