<h1>Items#new</h1>


<%= form_with model: @item, url: add_item_path do |form| %>
	<div class="mb-3">
		<%= form.label :catagory %>
		<%= form.text_field :catagory, class: "form-control" %>
	</div>
	<div class="mb-3">
		<%= form.label :condition %>
		<%= form.text_field :condition, class: "form-control" %>
	</div>	
	<div class="mb-3">	
		<%= form.label :price %>
		<%= form.text_field :price, class: "form-control" %>
	</div>
	<div class="mb-3">
		<%= form.label :description %>
		<%= form.text_field :description, class: "form-control" %>
	</div>
    <div class="mb-3">
        <%= form.label :image %>
		<%= form.text_field :image_url, class: "form-control" %>
    </div>
	<div class="mb-3">
		<%= form.submit "Post", class: "btn btn-primary" %>
	</div>
<% end %>