<h1><%= @item.description %></h1>

<div>
	<% if @item.image_url.present? %>
		<%= image_tag(@item.image_url, alt: @item.description, width: 300) %>
	<% end %>
</div>
<div>
	<%= "Description: #{@item.description}" %><br />
	<%= "Condition: #{@item.condition.upcase}" %><br />
	<%= "Price: #{@item.price}" %><br />
</div>
<div>
	<%= form_with model: @line_item, url: add_to_cart_path do |form| %>
		<%= form.hidden_field :item_id, :value => @item.id %>
		<div class="mb-3">
			<%= form.submit "Add To Cart", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>