<!DOCTYPE html>
<html>
  <head>
    <title>MoradiWatchmaking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
    -<%= link_to("Home", {:controller => 'pages', :action => 'home'}) %>
    -<%= link_to("Items", {:controller => 'items', :action => 'index'}) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
